<h1> Milk Transfer Details</h1>

<div class="f1">

  <form class="example-form">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Time</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Delivery Challan No</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Vehicle No</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Driver Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Driver Phone No</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Destination</mat-label>
  <mat-select>
    <mat-option value="one">SHIMUL,Shimoga</mat-option>
    <mat-option value="two">DAMUL,Davangere</mat-option>
    <mat-option value="three">Nandini Hi-tech</mat-option>
  </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Milk Type</mat-label>
  <mat-select>
    <mat-option value="one">Raw Milk</mat-option>
    <mat-option value="two">Skimmed Milk</mat-option>
    <mat-option value="three">Paesturized Milk</mat-option>
    <mat-option value="four">Toned Milk</mat-option>
    <mat-option value="five">Double-Toned Milk</mat-option>
  </mat-select>
    </mat-form-field>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gross Weight</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tare Weight</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Net Weight</mat-label>
      <input matInput>
    </mat-form-field>  
  </form>
</div>
<h1><button mat-raised-button color="primary" >Submit</button></h1>

