<h1> Farmer Details</h1>

<div class="f1">

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Farmer Name</mat-label>
      <input matInput>
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Member Of MPCS</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Member Since</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Membership Active</mat-label>
    <mat-select>
      <mat-option value="one">Yes</mat-option>
      <mat-option value="two">No</mat-option>
    </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Active Contributer</mat-label>
        <mat-select>
          <mat-option value="one">Yes</mat-option>
          <mat-option value="two">No</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr></table>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input matInput>
    </mat-form-field>


      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number of Cows</mat-label>
          <input matInput>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Number of Buffello</mat-label>
          <input matInput>
        </mat-form-field></td>
      </tr></table>

  </form>
</div>
<h2>Bank Details</h2>
<div class="f1">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name as per Bank details</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Account Number</mat-label>
      <input matInput>
    </mat-form-field>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>IFSC Code</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Branch</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Bank Name</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
</div>
<h1><button mat-raised-button color="primary" >Submit</button></h1>

